<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}

<div class="alert alert-info" style="margin-top: 50px;">
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Upload an Image or Video for Face Detection</h2><br>
        <a href="{% url 'videofacerecog' %}"><button class="btn btn-primary btn-lg btn-block">Video/Image Recognition</button></a><br>
        <a href="{% url 'upload_images' %}"><button class="btn btn-primary btn-lg btn-block">Upload Faces For Recognition</button></a><br>
        <a href="{% url 'webcam_template' %}"><button class="btn btn-primary btn-lg btn-block">Recognition</button></a><br>
    </div>
</div>
</div>
{% endblock %}
